---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
ColumnLimit: 125
# AlignAfterOpenBracket: Align
# AllowAllParametersOfDeclarationOnNextLine: false
# AllowShortBlocksOnASingleLine: true
# AllowShortCaseLabelsOnASingleLine: false
# AllowShortFunctionsOnASingleLine: All
# AllowShortIfStatementsOnASingleLine: true
# AllowShortLoopsOnASingleLine: true
# AlwaysBreakAfterDefinitionReturnType: None
# AlwaysBreakAfterReturnType: None
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterClass:      true
#   AfterControlStatement: true
#   AfterEnum:       true
#   AfterFunction:   true
#   AfterNamespace:  true
#   AfterStruct:     true
#   AfterUnion:      true
#   AfterExternBlock: true
#   BeforeCatch:     true
#   BeforeElse:      true
#   IndentBraces:    true
#   SplitEmptyFunction: false
#   SplitEmptyRecord: false
#   SplitEmptyNamespace: false